{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block body %}
    <div class="row text-center mt-4">
        <h2>Ajout un livre</h2>
    </div>
    <div class="row">
        {{ form(formBook) }}
    </div>
{% endblock %}
